<%- include('./components/sidebar') -%>
<script src="/socket.io/socket.io.js"></script>


<% if(user.subscribed == 'true' || user.subscribed == 'active'){ %>

    <title>FlexyQ Appointments</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha256-ZsWP0vT+akWmvEMkNYgZrPHKU9Ke8nYBPC3dqONp1mY=" crossorigin="anonymous"></script>

    <section class="main-layout booking">
        <div class="row">
            <div class="one-half column">
                <a href="/u/appointment" class="btn-playful card-selected"><ion-icon name="people-circle"></ion-icon> <span>people</span></a>
                <a href="/u/slots" class="btn-playful"><ion-icon name="stopwatch-outline"></ion-icon> <span>time slots</span></a>
                <a href="#" class="btn-playful add-b-url"><ion-icon name="create-outline"></ion-icon> <span>set booking link</span></a>
                <a href="#" class="call-appt-filter btn-playful"><ion-icon name="color-filter-outline"></ion-icon> <span>filter</span> </a>
            </div>
        </div>
        <br><br>

        <div class="alert-slot">
            <% if(success_msg != '') { %>
                <div class="alert-success">
                    <div class="notify-success">
                    <%= success_msg %>
                    </div>
                </div>
            <% } %>
        </div>

        <div class="booking-inner">
            <div class="booking-tab">
                <div class="top-tab-wrapper">
                    <div class="booking-grid-alt">
                        <div class="col-6">Name</div>
                        <div class="col-6">Phone</div>
                        <div class="col-6">Visiting date</div>
                        <div class="col-6">Visiting time</div>
                        <div class="col-6">Selected location</div>
                        <div class="col-6">Status</div>
                    </div>
                </div>
                <div class="bottom-tab-wrapper">
                    <div class="booking-grid">
                        <% if(bookin){ %>
                            <% bookin.forEach(book => { %>
                                <div class="col-6 cc"><%= book.name %></div>
                                <div class="col-6 cc"><%= book.phone %></div>
                                <div class="col-6 cc"><%= book.rdate %></div>
                                <div class="col-6 cc booking-time"><%= book.time %></div>
                                <div class="col-6 cc"><%= book.location %></div>
                                <div class="col-6 cc">
                                    <span class="<%= book.status %> status cc"><%= book.status %></span>
                                    <ion-icon name="open-outline" class="cc u-booking-actions"></ion-icon>
                    
                                    <div class="booking-actions hide">
                                        <h5>Actions for <%= book.name %></h5>
                                        <div class="--dash"></div>
                                        <br>
                                        <form action="/call-appt" method="POST" class="row">
                                            <button type="submit" class="btn-outline">call in visitor by SMS</button>
                                            <input type="hidden" name="phone" value="<%= book.phone %>">
                                            <input type="hidden" name="name" value="<%= book.name %>">
                                        </form>
                                        <div class="--dash"></div>
                                        <div class="row">
                                            <form action="/delete-appt" method="POST" class="one-half column">
                                                <button class="btn-danger u-pull-left">Delete appt<span>😨</span></button>
                                                <input type="hidden" value="<%= book.oneid %>" name="id">
                                                <input type="hidden" name="uemail" value="<%= book.email %>">
                                            </form>
                                            <form action="/cancel-appt" method="POST" class="one-half column">
                                                <button class="btn-danger u-pull-left">Cancel appt</button>
                                                <input type="hidden" value="<%= book._id %>" name="id">
                                                <input type="hidden" value="<%= book.oneid %>" name="oneid">
                                                <input type="hidden" name="uemail" value="<%= book.email %>">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <span class="u-book-date"><%= book.rdate %></span>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>





        <div class="date-filt-container hide">
            <div class="header-box">Filter date</div> <ion-icon name="close-outline" class="u-close-date__filter"></ion-icon>
            <div class="--dash"></div>
            <div class="sm-wrapper">
                <select id="date-filt" class="u-full-width">
                    <option id="today-appt" selected>Today</option>
                    <option value="0">This Week</option>
                    <option id="wtd" value="-1">Next Week</option>
                    <option id="ltw" value="-2">Next 2 weeks</option>
                    <option id="ltw" value="-3">Next 3 weeks</option>
                    <option id="mtd" value="-4">Next 4 Weeks</option>
                    <option id="ltw" value="-5">Next 5 weeks</option>
                    <option id="lthd" value="-6">Next 6 Weeks</option>
                    <option value="all">All Future Appointments</option>
                </select>
            </div>
        </div>




        <form action="/save-booking-url" method="POST" class="booking-url-form hide">
           <a href="/appt/<%= user.bookinglink %>" target="_blank"><ion-icon name="open-outline"></ion-icon></a>
            <div class="header-box">Booking page link</div>
            <div class="--dash"></div>
            <div class="inner">
                <input type="text" placeholder="Page Url" class="u-full-width" value="<%= user.bookinglink %>" name="link" id="link">
                <div class="--dash"></div>
                <label class="label-box">Recieve alert when visitor books? <span class="real-option"><%= user.bookingalert %></span></label>
                <div class="option-box">
                    <div class="option-value">Yes</div>
                    <div class="option-value">No</div>
                </div>
                <input type="hidden" name="alert" id="alert">
                <button type="submit" class="btn-block">save changes</button>
            </div>
        </form>
    </section>
    
    

    <div class="global-overlay hide"></div>











    <% } %>
    <%- include('./components/uialert') -%>    





<script>

document.querySelector('#today-appt').value = new Date().getDate()



document.querySelectorAll('.booking-url-form .option-value').forEach(options => {
    options.addEventListener('click', (e) => {
        document.querySelector('#alert').value = options.innerHTML
    })
})
//zzC40n9RWUNxwEEV
//flexyqnok
//mongodb+srv://flexyqnok:zzC40n9RWUNxwEEV@cluster0.gyzb2.mongodb.net/Cluster0?retryWrites=true&w=majority


// let date = new Date('Sun Jul 19 2020')
// let momentO = moment(date)
// let momentB = momentO.format('YYYY-MM-DD')
// let days = moment().diff(momentB, 'weeks');
// console.log(date.getDate());








</script>

   