<%- include('./components/sidebar') -%>
<% if(user.subscribed == 'true' || user.subscribed == 'active'){ %>

    <title>FlexyQ Time Slots</title>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css">
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

    <section class="main-layout booking">

        <div class="row">
            <div class="one-half column">
                <a href="/u/appointment" class="btn-playful"><ion-icon name="people-circle"></ion-icon> <span>people</span></a>
                <a href="/u/slots" class="btn-playful card-selected"><ion-icon name="stopwatch-outline"></ion-icon> <span>time slots</span></a>
                <a href="#" class="btn-playful add-time-slot"><ion-icon name="timer-outline"></ion-icon> <span>add slot</span></a>
            </div>
        </div>
        <br><br>



        <div class="booking-inner">
            <div class="alert-slot">
                <% if(typeof errors != 'undefined') { %>
                    <div class="alert-errors">
                        <% errors.forEach(function(error) { %>
                        <ul class="notify-warning">
                            <li><%= error.msg %></li>
                        </ul>
                        <% }); %>
                    </div>
                    <% } %>
                <% if(success_msg != '') { %>
                    <div class="alert-success">
                        <div class="notify-success">
                        <%= success_msg %>
                        </div>
                    </div>
                <% } %>
            </div>
      
            <div class="booking-tab">
                <div class="custom-row">
                        <% if(slots){ %>
                            <div class="col-5">
                                <div class="header-box">Monday</div>
                                <% slots.forEach(slot => { %>
                               <% if(slot.day == 'Monday'){ %>
                                 <div class="slots-time-db"><%= slot.time %></div>
                                 <form action="/delete-slot" method="post">
                                    <input type="hidden" name="id" value="<%= slot._id %>">
                                    <button>Delete slot</button>
                                  </form>
                               <% } %>
                               <% }) %>
                            </div>
                            <div class="col-5">
                                <div class="header-box">Tuesday</div>
                                <% slots.forEach(slot => { %>
                               <% if(slot.day == 'Tuesday'){ %>
                                 <div class="slots-time-db"><%= slot.time %></div>
                                 <form action="/delete-slot" method="post">
                                    <input type="hidden" name="id" value="<%= slot._id %>">
                                    <button>Delete slot</button>
                                  </form>
                               <% } %>
                               <% }) %>
                            </div>
                            <div class="col-5">
                                <div class="header-box">Wednesday</div>
                                <% slots.forEach(slot => { %>
                               <% if(slot.day == 'Wednesday'){ %>
                                 <div class="slots-time-db"><%= slot.time %></div>
                                 <form action="/delete-slot" method="post">
                                    <input type="hidden" name="id" value="<%= slot._id %>">
                                    <button>Delete slot</button>
                                  </form>
                               <% } %>
                               <% }) %>
                            </div>
                            <div class="col-5">
                                <div class="header-box">Thursday</div>
                                <% slots.forEach(slot => { %>
                               <% if(slot.day == 'Thursday'){ %>
                                 <div class="slots-time-db"><%= slot.time %></div>
                                 <form action="/delete-slot" method="post">
                                    <input type="hidden" name="id" value="<%= slot._id %>">
                                    <button>Delete slot</button>
                                  </form>
                               <% } %>
                               <% }) %>
                            </div>
                            <div class="col-5">
                                <div class="header-box">Friday</div>
                                <% slots.forEach(slot => { %>
                               <% if(slot.day == 'Friday'){ %>
                                 <div class="slots-time-db"><%= slot.time %></div>
                                 <form action="/delete-slot" method="post">
                                  <input type="hidden" name="id" value="<%= slot._id %>">
                                  <button>Delete slot</button>
                                </form>
                               <% } %>
                               <% }) %>
                            </div>
                            <div class="col-5">
                                <div class="header-box">Saturday</div>
                                <% slots.forEach(slot => { %>
                               <% if(slot.day == 'Saturday'){ %>
                                 <div class="slots-time-db"><%= slot.time %></div>
                                 <form action="/delete-slot" method="post">
                                  <input type="hidden" name="id" value="<%= slot._id %>">
                                  <button>Delete slot</button>
                                </form>
                               <% } %>
                               <% }) %>
                            </div>
                            <div class="col-5">
                                <div class="header-box">Sunday</div>
                                <% slots.forEach(slot => { %>
                               <% if(slot.day == 'Sunday'){ %>
                                 <div class="slots-time-db"><%= slot.time %></div>
                                 <form action="/delete-slot" method="post">
                                  <input type="hidden" name="id" value="<%= slot._id %>">
                                  <button>Delete slot</button>
                                </form>
                               <% } %>
                               <% }) %>
                            </div>
                         <%  } %>
                </div>
            </div>
        </div>


        <form action="/save-slot" method="POST" class="time-booking hide">
            <ion-icon name="close-outline" class="close-time-slot"></ion-icon>
            <label class="label-box">Day of week</label>
            <select name="week" class="week">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
            <label class="label-box">Start time</label>
            <div class="start-b-time custom-time-med">
                <div id="timepicker-start-mer"></div>
                <div class="custom-pm-am">
                    <select name="meridian">
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                </div>
            </div>
            <label class="label-box">End time</label>
             <div class="end-b-time custom-time-med">
                <div id="timepicker-end-mer"></div>
                <div class="custom-pm-am">
                    <select name="meridian">
                        <option value="AM">AM</option>
                        <option value="PM">PM</option>
                    </select>
                </div>
            </div>
            <br>
            <input type="hidden" name="slotone">
            <input type="hidden" name="slottwo">
            <button type="submit" class="btn-block">Save slot</button>
        </form>

    </section>
    <div class="global-overlay hide"></div>
    
    <% } %>
    <%- include('./components/uialert') -%>    




  
    <script>



setTimeout(() => {
    

    let _1stel = document.getElementsByTagName('select')[2]
    let _2ndel = document.getElementsByTagName('select')[6]



    _1stel.querySelectorAll('option').forEach(op => {
        op.innerHTML =  ('0' + op.innerHTML).slice(-2)
    })  
    _2ndel.querySelectorAll('option').forEach(op => {
        op.innerHTML =  ('0' + op.innerHTML).slice(-2)
    })   

}, 2000);



    </script>