<%- include('./components/sidebar') -%>

<title>FlexyQ - Analytics</title>
<% if(role === 'Admin' || role === 'Manager'){ %>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha256-ZsWP0vT+akWmvEMkNYgZrPHKU9Ke8nYBPC3dqONp1mY=" crossorigin="anonymous"></script>

<section class="analytics">
	<div class="container" id="stat-canvas">
		<h3 class="header-stat">Daily Data Insights</h3>
		<canvas id="bar-chart" width="800" height="450"></canvas>
	</div>
	 <div class="container mt-5">
	  <div class="row flat-stat">
		<div class="one-half column">
			<h5>Added today</h5>
			<% if(visitors){ %>
				<ul class="stat-visitor-line">
				<% visitors.forEach(visitor => { %>
					<% if(visitor.date.getDate() == cd){ %>
					<li><a href="tel:<%= visitor.phone %>"><%= visitor.phone %> <span>/ <%= visitor.firstname %></span> <ion-icon name="call"></ion-icon> </a></li>
					<% } %>
				<% }) %>
				</ul>
			<% } %>
		  </div>
		 <div class="one-half column">
			<h5>Serving now</h5>
			<% if(visitors){ %>
				<ul class="stat-visitor-line">
				<% visitors.forEach(visitor => { %>
					<% if(visitor.status == 'Serving'){ %>
						<% if(visitor.date.getDate() == cd){ %>
						<li><%= visitor.firstname %></li>
						<% } %>
					<% } %>
				<% }) %>
				</ul>
			<% } %>
		 </div>
	
	</div>
  </div>



  <ul id="vdk" class="hide">
	<% visitors.forEach(visitor => { %>
		<% if(visitor.date.getDate() == cd){ %>
			<li><%= visitor.date %></li>
		<% } %>
	<% }) %>
  </ul>
  <ul id="teamdk" class="hide">
	<% team.forEach(tm => { %>
		<% if(tm.date.getDate() == cd){ %>
		 <li><%= tm.role %></li>
		<% } %>
	<% }) %>
  </ul>
  <ul id="vkpoints" class="hide">
	<% points.forEach(point => { %>
		<li><%= point.name %></li>
	<% }) %>
  </ul>
  <ul id="vdk--served" class="hide">
	<% visitors.forEach(visitor => { %>
		<% if(visitor.status == 'Served'){ %>
			<% if(visitor.date.getDate() == cd){ %>
			  <li><%= visitor.date %></li>
			<% } %>
		<% } %>
	<% }) %>
  </ul>
 

  <ul class="min-slack hide"></ul>
  <ul class="hrs-slack hide"></ul>


</section>
<% } %>


















<%- include('./components/uialert') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

//@Get Average Mins and Hours of waiting
let visitorEl = Array.from(document.querySelectorAll('#vdk li'))
let servedVisitorsArray = Array.from(document.querySelectorAll('#vdk--served li'))
let locPoints = Array.from(document.querySelectorAll('#vkpoints li'))
let tolTeam = Array.from(document.querySelectorAll('#teamdk li'))


visitorEl.forEach(vel => {
	let thenn = new Date(Date.parse(vel.innerHTML))   
        let noww = new Date()
        let mss = moment(noww,"DD/MM/YYYY HH:mm:ss").diff(moment(thenn,"DD/MM/YYYY HH:mm:ss"));
        let dd = moment.duration(mss);
        let hrss = Math.floor(dd.asHours())
		var minn = moment.utc(mss).format("mm");
	
		let minSlack = document.querySelector('.min-slack')
		let minLi = document.createElement('li')
		minLi.textContent = minn
		minSlack.appendChild(minLi)

		//@For Hours
		let hrSlack = document.querySelector('.hrs-slack')
		let hrsLi = document.createElement('li')
		hrsLi.textContent = hrss
		hrSlack.appendChild(hrsLi)
})



let dmin = []
let dhr = []
let minChildren = document.querySelectorAll('.min-slack li')
let hrsChildren = document.querySelectorAll('.hrs-slack li')

let minsum;
let hrsum;

//@Mins
for(let i = 0; i < minChildren.length; i++){
	dmin.push(parseInt(minChildren[i].innerHTML))
	if(dmin.length === minChildren.length){
		 minsum = dmin.reduce((a, b) => a + b, 0)
	}
}

//@Hours
for(let i = 0; i < hrsChildren.length; i++){
	dhr.push(parseInt(hrsChildren[i].innerHTML))
	if(dhr.length === hrsChildren.length){
		 hrsum = dhr.reduce((a, b) => a + b, 0)
	}
}


let conhrToMins = hrsum * 60
let totalWaitingtime = minsum + conhrToMins

let avgWaitingtime =  Math.round(totalWaitingtime / minChildren.length)






new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: ['Avg waiting time( in Minutes )', 'Queue length', 'Visitors Served', 'Total Locations', 'Team Members'],
      datasets: [
        {
          label: 'Total amount',
          backgroundColor: ["#1c96aa", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
          data: [avgWaitingtime, visitorEl.length, servedVisitorsArray.length, locPoints.length, tolTeam.length]
        }
      ]
    },
    options: {
      legend: { display: false },
      title: {
        display: false,
        text: 'Daily Stats'
      }
	}
});





let bar = document.querySelector('#bar-chart')


</script>