<%- include('./components/sidebar') -%>

<% if(user.subscribed == 'true' || user.subscribed == 'active'){ %>


<section class="analytics">
		<div class="container">
		  <canvas id="myChart"></canvas>
		</div>
	 <div class="container mt-5">
	  <div class="row flat-stat">
		<div class="one-third column">
			<h5>Visitors</h5>
			<% if(visitors){ %>
				<ul class="stat-visitor-line">
				<% visitors.forEach(visitor => { %>
					<li><a href="tel:<%= visitor.phone %>"><%= visitor.phone %> <span>/ <%= visitor.firstname %></span> <ion-icon name="call"></ion-icon> </a></li>
				<% }) %>
				</ul>
			<% } %>
		  </div>
		 <div class="one-third column">
			<h5>Visitors</h5>
			<% if(visitors){ %>
				<ul class="stat-visitor-line">
				<% visitors.forEach(visitor => { %>
					<li><%= visitor.firstname %></li>
				<% }) %>
				</ul>
			<% } %>
		 </div>
		<div class="one-third column">
			<h5>Visitors</h5>
			<% if(visitors){ %>
				<ul class="stat-visitor-line">
				<% visitors.forEach(visitor => { %>
					<li><%= visitor.firstname %></li>
				<% }) %>
				</ul>
			<% } %>
		</div>
	</div>
  </div>


</section>
<% } %>














<%- include('./components/uialert') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>


let uli = document.querySelectorAll('.stat-visitor-line li')
let elements = Array.from(uli)

console.log(uli);


var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
	type: 'line', 

	data: {
		labels: ["Jun 2016", "Jul 2016", "Aug 2016", "Sep 2016", "Oct 2016", "Nov 2016", "Dec 2016", "Jan 2017", "Feb 2017", "Mar 2017", "Apr 2017", "May 2017"],
		// Information about the dataset
    datasets: [{
			label: "Rainfall",
			backgroundColor: 'lightblue',
			borderColor: 'royalblue',
			data: [26.4, 39.8, 66.8, 66.4, 40.6, 55.2, 77.4, 69.8, 57.8, 76, 110.8, 142.6],
		}]
	}
});

</script>