<%- include('./components/sidebar') -%>

<title>FlexyQ - Team</title>

<% if(role === 'Admin' || role === 'Manager'){ %>

<div class="global-upper-section main-layout ">
    <div class="row">
        <div class="one-half column"><h3>Team</h3></div>
        <div class="one-half column">
            <a href="#" class="invite-btn u-pull-right btn-playful mr-layout"><ion-icon name="create-outline"></ion-icon> <span>add new member</span></a>
        </div>
    </div>
    
<section class="team-panel globe-box">
    <% if(teams){ %>
        <%  teams.forEach(team => { %>
             <div class="row team-list">
                 <div class="one-third column">
                     <span><%= team.fullname %></span>
                </div>
                 <div class="one-third column">
                     <span class="tag">
                     <%= team.role %> </span><i>@</i>  <span><%= team.location %></span>
                </div>
                 <div class="one-third column">
                     <span><%= team.workemail %></span>
                </div>
                <ion-icon name="pencil-outline" class="open-u-edit-team"></ion-icon>
                <form action="/edit-team" method="post" class="u-edit-team hide">
                    <ion-icon name="close-outline" class="close-u-edit-team"></ion-icon>
                    <div class="header-box">Edit Team</div>
                    <div class="inner-content">
                        <input type="text" name="fullname" value="<%= team.fullname %>" class="u-full-width">
                        <input type="text" name="workemail" value="<%= team.workemail %>" class="u-full-width">
                        <select name="role" class="u-full-width">
                            <option value="Clerk"> Clerk </option>
                            <option value="Manager">Location Manager </option>
                            <option value="Admin"> Administrator </option>
                        </select>
                        <select name="locid" id="location-team" class="u-full-width">
                            <% data.forEach(items => { %>
                              <option value="<%= items._id %>"><%= items.name %></option>
                            <% }) %>
                        </select>
                    </div>
                    <input type="hidden" value="<%= team._id %>" name="id">
                    <input type="hidden" name="location" id="teamLocationex">
                    <div class="row">
                        <button type="submit" class="btn-block btn-outline">save changes</button>
                    </div>
                </form>
                <!-- Delete Team -->
                <ion-icon name="trash-outline" class="open-delete-team"></ion-icon>
                <form action="/delete-team" method="post" class="delete-team-form hide">
                    <div class="header-box">Removing <%= team.fullname %>? Are you sure?</div>
                    <div class="--dash"></div>
                 <br>
                 <div class="row">
                     <div class="one-half column">
                         <a href="#" class="button close-delete-team">cancel</a>
                     </div>
                     <div class="one-half column">
                         <button type="submit"> yes, I'm sure</button>
                     </div>
                 </div>
                 <input type="hidden" value="<%= team._id %>" name="id">
                 <input type="hidden" value="<%= team.workemail %>" name="workemail">
                </form>
             </div>
             <div class="--dash"></div>
        <% }) %>
     <% } %>

     <form class="hide add-teams">
        <div class="header-box">Invite Team</div>
      <div class="--dash"></div>
          <div class="row">
              <div class="one-half column">
                  <label class="label-box">Work Email</label>
              </div>
              <div class="one-half column">
                  <input type="text" class="u-full-width" name="workemail" placeholder="collins@gmail.com" required>
              </div>
          </div>
          <div class="--dash"></div>
          <div class="row">
              <div class="one-half column">
                  <label class="label-box">Fullname</label>
              </div>
              <div class="one-half column">
                  <input type="text" class="u-full-width" name="fullname" placeholder="Collins Walker" required>
              </div>
          </div>
          <div class="--dash"></div>
          <div class="row">
              <div class="one-half column">
                  <label class="label-box">Role</label>
              </div>
              <div class="one-half column">
                  <select name="role" class="u-full-width">
                      <option value="clerk"> Clerk </option>
                      <option value="manager">Location Manager </option>
                      <option value="admin"> Administrator </option>
                  </select>
              </div>
          </div>
          <div class="--dash"></div>
          <div class="row">
              <div class="one-half column">
                  <label class="label-box">Select location</label>
              </div>
              <div class="one-half column">
                <select name="locid" id="location-team" class="u-full-width">
                    <% data.forEach(items => { %>
                      <option value="<%= items._id %>"><%= items.name %></option>
                    <% }) %>
                </select>
              </div>
          </div>
          <div class="--dash"></div>
          <div class="row">
           <div class="one-half column">
            <div class="alert-errors mt-5">
                <% if(user.biz == undefined || user.biz == '') { %>
                <div class="notify-warning">
                  <a href="/u/profile">Please setup your business name before inviting a team member</a>
                </div>
                <% } %>
            </div>
           </div>
            <div class="one-half column u-pull-right">
             <input type="hidden" name="location" id="teamLocation">
             <% if(user.biz !== undefined){ %>
                <button type="submit" class="btn-block btn-outline mt-3">Invite</button>
             <% } %>
              </div>
          </div>
      </form>
</div>
</section>

<% } %>

<%- include('./components/uialert') -%>


<div class="global-overlay hide"></div>





<script>
    function io(){}
</script>