<!-- Load Leaflet from CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />



    <% data.location.forEach(loc => { %>
        <% if (loc.vpurl == url) { %>
          <title><%= loc.header %></title>
          <div class="top-queue-section container">
          <div class="row">
              <div class="two-thirds column">
                  <img src="/assets/Guacamole Illustrations/svg/3_music_general.svg">
              </div>
              <div class="one-third column">
                  <div class="people-on-queue__total">
                      <h3 class="poqt-counter"></h3>
                      <p class="q-waiting">Waiting Visitors at</p>
                      <p class="tag"><%= loc.address %></p>
                  </div>
                  <div class="queue-action-buttons">
                      <div class="card-queue">
                          <h4>Already signed in?</h4>
                          <a href="#" class="button call-vp btn-danger">see your position <span>🙂</span></a>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="bottom-queue__section">
            <div class="container">
                <h4><%= loc.header %></h4>
               <% if(loc.subheader != '' || loc.subheader != ""){ %>
                <p><%= loc.subheader %></p>
               <% } %>
               <div class="card-queue">
                   <div class="header-box">Remote Sign-in: 
                       <% if(loc.allowqueue == 'yes'){ %>
                           <span class="green-tag">Available</span>
                      <% } else { %>
                           <span class="red-tag">Unavailable</span>
                      <% } %>
                    </div>
               </div>
               <div class="custom-row">
                   <div class="col-3 card">
                       <div class="header-box">How to reach</div>
                       <div id="pagemap"></div>
                       <div class="--dash"></div>
                   </div>
                   <div class="col-3 card">
                    <% if(loc.allowqueue == 'yes'){ %>
                        <div class="queue-msg notify-success hide"></div>
                        <div class="join-queue-via-planner">
                            <div class="header-box">Not signed in already?</div>
                            <form class="join-queue-vp__form">
                                <input type="text" name="firstname" class="u-full-width" placeholder="Your Fullname" required>
                                <input type="text" name="phone" class="u-full-width" placeholder="Enter phone number" required>
                                <input type="hidden" name="locid" value="<%= loc._id %>">
                                <input type="hidden" name="labels" value="<%= data.email %>">
                                <input type="hidden" name="msg" value="<%= loc.msg %>">
                                <button class="btn-outline btn-block">sign in to join</button>
                            </form>
                        </div>
                   <% } %>
                
                      <div class="header-box">Already signed in?</div>
                     <div class="--dash mt-5 mb-5"></div>
                    <a href="#" class="button call-vp btn-danger">see your position <span>🙂</span></a>
                    <div class="q-planner-info">
                        <a href="tel:<%= loc.adminphone %>"><%= loc.adminphone %></a>
                        <a href="mailto:<%= loc.adminmail %>"><%= loc.adminmail %></a>
                    </div>
                    
                   </div>
                   <div class="col-3 card">
                    <label class="header-box">availabilty (this week)</label>
                    <ul class="this-week-q">
                       <% loc.fweek.forEach(fw => { %>
                           <li>Sun: <%= fw.sun %></li>
                           <li>Mon: <%= fw.mon %></li>
                           <li>Tue: <%= fw.tue %></li>
                           <li>Wen: <%= fw.wen %></li>
                           <li>Thu: <%= fw.thu %></li>
                           <li>Fri: <%= fw.fri %></li>
                           <li>Sat: <%= fw.sat %></li>
                       <% }) %>
                   </ul>
                   <label class="header-box">availabilty (next week)</label>
                   <ul class="this-week-q">
                   <% loc.fweek.forEach(fw => { %>
                       <li>Sun: <%= fw.sun2 %></li>
                       <li>Mon: <%= fw.mon2 %></li>
                       <li>Tue: <%= fw.tue2 %></li>
                       <li>Wen: <%= fw.wen2 %></li>
                       <li>Thu: <%= fw.thu2 %></li>
                       <li>Fri: <%= fw.fri2 %></li>
                       <li>Sat: <%= fw.sat2 %></li>
                   <% }) %>
               </ul>
                   </div>
               </div>
            </div>
        </div>

         <% data.visitors.forEach(people => { %>
            <ul id="queue-page-vistiors-planner" class="hide">
            <% if(people.status == 'Waiting'){ %>
                <li class="pwoqlist"><%= people.phone %></li>
           <% } %>
            </ul>
         <% }) %>

        <div class="leaf-attr hide">
            <p id="addr"><%= loc.address %></p>
            <p id="lat"><%= loc.lat %></p>
            <p id="lng"><%= loc.lng %></p>
        </div>


            <form class="check-v-position__form check-v-postion hide">
                <div class="header-box">Check your position</div>
                <div class="--dash"></div>
                <div class="row mt-5">
                    <div class="one-half column">
                        <label class="label-box">Phone</label>
                    </div>
                    <div class="one-half column">
                        <input type="text" placeholder="Enter phone number" class="u-full-width" name="phone" required>
                    </div>
                </div>
                <div class="--dash"></div>
                <div class="row">
                    <input type="hidden" name="locid" value="<%= loc._id %>">
                    <input type="hidden" name="labels" value="<%= data.email %>">
                    <button type="submit" class="btn-outline btn-block">Check postion</button>
                </div>
                <div id="kl" class="hide"></div>
            </form>
            
       

       <% } %>
      <% }) %>
      <%- include('./components/uialert') -%>
      <div class="global-overlay hide"></div>


      <div class="visitor-queue-upper-overlay hide">
          <div class="vquo">
            <h4>Hi <span></span></h4>
            <p>Thank you for waiting</p>
            <div class="--dash"></div>
            <small>Here's your position in the queue</small>
  
            <div class="round-holder">
              <h2 class="uq-number__postion"></h2>
            </div>
            <small>We'll text you when we're almost ready to see you</small>
          </div>
          <div class="no-vquo hide">
              <h3>No result found, sorry.</h3>
          </div>
      </div>


     





