<!-- Load Leaflet from CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />


  <% if(data){ %>
    <% data.location.forEach(loc => { %>
        <% if (loc.vpurl === url) { %>
          <title><%= loc.header %></title>
          <div class="top-queue-section container">
          <div class="row">
              <div class="two-thirds column">
                  <img src="/assets/Guacamole Illustrations/svg/3_music_general.svg">
              </div>
              <div class="one-third column">
                  <div class="people-on-queue__total">
                      <h3 class="poqt-counter">0</h3>
                      <p class="q-waiting">Waiting Visitors at</p>
                      <p class="tag"><%= loc.address %></p>
                  </div>
                  <div class="queue-action-buttons">
                      <div class="card-queue already-ck">
                          <h4>Already checked in?</h4>
                          <a href="#" class="button call-vp btn-danger">see your position <span>🙂</span></a>
                      </div>
                      <div class="visitor-postion card-queue hide">
                          <h5>Hi <span class="visitor-n-on-v"></span> </h5>
                          <div class="--dash"></div>
                          <p>Here's your position in the queue</p>
                          <h2 class="reatime-postion">0</h2>
                          <div class="--dash"></div>
                          <p>We'll text you when we're almost ready to see you</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="bottom-queue__section">
            <div class="container">
                <h4><%= loc.header %></h4>
               <% if(loc.subheader != '' || loc.subheader != ""){ %>
                <p><%= loc.subheader %></p>
               <% } %>
               <div class="card-queue">
                   <div class="header-box">Remote Sign-in: 
                       <% if(loc.allowqueue == 'yes'){ %>
                           <span class="green-tag">Available</span>
                           <ion-icon name="chevron-down-outline" class="show-join-queue__form"></ion-icon>

                           
                            <div class="queue-msg notify-success hide"></div>
                            <div class="join-queue-via-planner hide">
                                <div class="row">
                                    <div class="header-box">Not checked in already?</div>
                                </div>
                                <form class="join-queue-vp__form">
                                    <div class="row">
                                        <div class="one-half column"><label class="label-box">Fullname</label></div>
                                        <div class="one-half column">
                                            <input type="text" name="firstname" class="u-full-width" placeholder="Your Fullname" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="one-half column"><label class="label-box">Phone</label></div>
                                        <div class="one-half column">
                                            <input type="text" name="phone" class="u-full-width" placeholder="Enter phone (eg. 14161234564)" required>
                                        </div>
                                    </div>

                                    <input type="hidden" name="locid" value="<%= loc._id %>">
                                    <input type="hidden" name="placename" value="<%= loc.name %>">
                                    <input type="hidden" name="labels" value="<%= data.email %>">
                                    <input type="hidden" name="msg" value="<%= loc.msg %>">
                                    <div class="row">
                                        <button type="submit" class="btn-outline btn-block">check in</button>
                                    </div>
                                </form>
                            </div>
    
                      <% } else { %>
                           <span class="red-tag">Unavailable</span>
                      <% } %>
                    </div>
               </div>
               <div class="custom-row">
                   <div class="col-3 card">
                       <div class="header-box">How to reach</div>
                       <div id="pagemap"></div>
                       <div class="--dash"></div>
                   </div>
                   <div class="col-3 card">
                       <div class="header-box">Average waiting time</div>
                       <div class="--dash"></div>  
                       <div class="clock-el">
                           <h3> <%= loc.avgwt %></h3>
                           <div class="clock">
                            <div class="center"></div>
                            <div class="pointer pointer__seconds"></div>
                            <div class="pointer pointer__minutes"></div>
                            <div class="pointer pointer__hours"></div>
                          </div>
                       </div>  
                       
                       <div class="admin-tel-mail">
                        <div class="--dash"></div> 
                          <a href="tel:<%= loc.adminphone %>"><%= loc.adminphone %></a> 
                          <a href="mailto:<%= loc.adminmail %>"><%= loc.adminmail %></a>                             
                       </div>
                   </div>
                   <div class="col-3 card">
                    <label class="header-box">availabilty (this week)</label>
                    <ul class="this-week-q">
                       <% loc.fweek.forEach(fw => { %>
                           <li>Sun: <%= fw.sun %></li>
                           <li>Mon: <%= fw.mon %></li>
                           <li>Tue: <%= fw.tue %></li>
                           <li>Wen: <%= fw.wen %></li>
                           <li>Thu: <%= fw.thu %></li>
                           <li>Fri: <%= fw.fri %></li>
                           <li>Sat: <%= fw.sat %></li>
                       <% }) %>
                   </ul>
                   <label class="header-box">availabilty (next week)</label>
                   <ul class="this-week-q">
                   <% loc.sweek.forEach(sw => { %>
                       <li>Sun: <%= sw.sun %></li>
                       <li>Mon: <%= sw.mon %></li>
                       <li>Tue: <%= sw.tue %></li>
                       <li>Wen: <%= sw.wen %></li>
                       <li>Thu: <%= sw.thu %></li>
                       <li>Fri: <%= sw.fri %></li>
                       <li>Sat: <%= sw.sat %></li>
                   <% }) %>
               </ul>
                   </div>
               </div>
            </div>
        </div>

     

        <div class="leaf-attr hide">
            <p id="addr"><%= loc.address %></p>
            <p id="lat"><%= loc.lat %></p>
            <p id="lng"><%= loc.lng %></p>
        </div>


            <form class="check-v-position__form check-v-postion hide">
                <div class="header-box">Check your position</div>
                <div class="--dash"></div>
                <div class="row mt-5">
                    <div class="one-half column">
                        <label class="label-box">Phone</label>
                    </div>
                    <div class="one-half column">
                        <input type="text" placeholder="eg. 14161234564" class="u-full-width" name="phone" required>
                    </div>
                </div>
                <div class="--dash"></div>
                <div class="row">
                    <input type="hidden" name="locid" value="<%= loc._id %>">
                    <input type="hidden" name="labels" value="<%= data.email %>">
                    <button type="submit" class="btn-outline btn-block">Check postion</button>
                </div>
                <div id="kl" class="hide"></div>
            </form>
            
       

       <% } %>
      <% }) %>
      <%- include('./components/uialert') -%>
      <div class="global-overlay hide"></div>


      <% } %>

<script>
//@Map
const addr = document.querySelector('#addr').innerHTML;
const lat = document.querySelector('#lat').innerHTML;
const lng = document.querySelector('#lng').innerHTML;
const pageMap = L.map('pagemap').setView([parseInt(lat), parseInt(lng)], 4);


L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
  maxZoom: 18
}).addTo(pageMap);
pageMap.panTo(new L.LatLng(parseInt(lat), parseInt(lng)));
L.marker([parseInt(lat), parseInt(lng)], 5).addTo(pageMap).bindPopup(addr).openPopup();



document.querySelector('.show-join-queue__form').addEventListener('click', () => {
    const sjqf = document.querySelector('.join-queue-via-planner')

    if(sjqf.classList.contains('hide')){
        sjqf.classList.remove('hide')
    } else {
        sjqf.classList.add('hide')
    }
})
 

// DOM Elements
const clock = document.querySelector('.clock');
const pointerSec = document.querySelector('.pointer__seconds');
const pointerMin = document.querySelector('.pointer__minutes');
const pointerHours = document.querySelector('.pointer__hours');

// Globals
const date = new Date();
let degSeconds = date.getSeconds() * 6;
let degMinutes = date.getMinutes() * 6;
let degHours = date.getHours() * 30;

const init = () => {
	placeIndicators();
	setInterval(runClock, 1000);
};

const runClock = () => {
	degSeconds += 6;
	degMinutes += degSeconds === 360 ? 6 : 0;
	degHours += degMinutes === 360 ? 30 : 0;

	pointerSec.style.transform = `rotate(${degSeconds}deg)`;
	pointerMin.style.transform = `rotate(${degMinutes}deg)`;
	pointerHours.style.transform = `rotate(${degHours}deg)`;


	pointerSec.addEventListener('transitionend', (e) => {
		if(degSeconds === 360) {
			e.target.style.transition = 'none';
			degSeconds = 0;
			e.target.style.transform = `rotate(${degSeconds})`;

			setTimeout(() => {
				e.target.style.transition = 'transform .25s cubic-bezier(0.175, 0.885, 0.32, 1.275)';
			}, 200);
		}
	});
}

const placeIndicators = () => {
    for(let i = 0; i < 360; i+=6) {
        const indicator = document.createElement('div');
		indicator.classList.add('indicator');

		if(i % 5 === 0) {
			indicator.classList.add('indicator--fifth');
		}

		indicator.style.transform = `rotate(${i}deg)`;
		clock.appendChild(indicator);
    }
}

init();



</script>



